.buttons-section {
  display: flex;          /* Use flexbox for alignment */
  flex-direction: column; 
  width: 301px; 
  gap: 42px; 

  }
  
.buttons-section button { 
  font-family: Grotesk;  /* Add padding for better button appearance */
  padding: 15px 20px;     /* Add padding for better button appearance */
  font-size: 40px;        /* Adjust font size */
  /* cursor: none;   */
  font-family: 'Space Grotesk', serif;  
  background-color: rgb(255, 255, 255, 0.2);   

}


.visit_blog_button button {
  font-size: 12px;  /* Smaller text */
  padding: 5px 10px; /* Small rectangular button */
  background-color: white; /* White background */
  color: black; /* Black text */
  border: 1px solid black; /* Thin border */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.visit_blog_button button:hover {
  background-color: #f0f0f0; /* Light gray on hover */
}
